const OCRA_ROOT = 'https://library.brown.edu/reserves/';
const OCRA_TARGET_PAGE = ocra_root + 'cr/ocrify/';
const OCRA_LOGO_IMAGE = 'brownshield.png';

const OCRA_STATUS_START = "Working...";
const OCRA_STATUS_READY = 'Ready. Click a link below to add that item to OCRA.';
const OCRA_STATUS_NOTHING_TO_DO = 'Found nothing we can add to course reserves.';