body {
background-color: rgb(254, 253, 244);
background-image: url('background.svg');
background-position: left;
background-repeat: repeat-y;
font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
font-size: 100%;
width: 450px;
}
h2, h3 {
margin: 0 0 .3rem;
color: #78615f;
line-height: 1.25;
}
h2 {
font-size: 1.5rem;
margin-bottom: 3px;
}

h3 {
font-size: 1.1rem;
font-weight: bolder;
text-transform: uppercase;
}
#status {
/* avoid an excessively wide status text */
white-space: pre;
text-overflow: ellipsis;
overflow: hidden;
border-radius: 8px;

padding: .3rem .8rem;
margin-bottom: .8rem;
border: 1px solid #cccc99;
background-color: #ffffcc;
}

#choices div ul {
    max-height: 8em;
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 .8rem;
}
#choices div ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#page {
    margin-bottom: .5rem;
    padding-bottom: .6rem;
}
#sidebar {
    float: left;
    margin: .5rem 0;
    width: 75px;
}
#sidebar img {
    /*bottom: .5rem;*/
    display: block;
    margin: 0 0 0 2px;
    max-width: 65px;
    position: absolute;
    top: 3rem;
}
#body {
    margin-left: 85px;
}

footer {
    margin-top: 1rem;
}

footer a {
    color: #4e3629;
    float: right;
    font-weight: bold;
}