<html lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }} |{% endif %} {{ site.name }}</title>
        <link rel="stylesheet" href="index.css"/>
    </head>
    <body>
        <header class="head">
            <div class="container">
                <a href="http://library.brown.edu/" class="liblink" title="Brown University Library Homepage">&nbsp;</a>
            </div>
        </header>
        <div class="container">
            {{ content }}
        </div>
    </body>
</html>
